@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');  



body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background: rgb(108,107,141);
    background: linear-gradient(90deg, rgba(108,107,141,1) 0%, rgba(152,181,150,1) 42%, rgba(194,140,82,1) 100%); 
    font-size: 2rem;
    font-family: 'Recursive', sans-serif;
    padding: 1.5%;
    color: white;
    

}

section {
    padding-left: 15%;
    padding-top: 9%;
    padding-bottom: 9%;
    padding-right: 15%;
    background-color: rgb(222,252,255, 0.5) ;
   
}

article {
    background-color: ivory;
    padding: 3%;
    
}

p {

    font-family: 'Arvo', serif;

}

h2 {
    font-size: 1.7rem;
    padding: 1.5%;
    
}

footer {
    position:fixed;
    padding-left: 40%;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #D0DAEE;
  }

