



body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background: rgb(70,69,92);
    background: linear-gradient(90deg, rgba(70,69,92,1) 0%, rgba(152,181,150,1) 42%, rgba(82,194,151,1) 100%); 
    font-size: 2rem;
    font-family: 'Recursive', sans-serif;
    padding: 1.5%;
    color: white;
    

}

section {
    padding-left: 15%;
    padding-top: 9%;
    padding-bottom: 5%;
    padding-right: 15%;
    background-color: rgb(222,252,255, 0.5) ;
   
}

article {
    background-color: ivory;
    padding: 1%;
    
}

p {

    font-family: 'Arvo', serif;

}

h2 {
    font-size: 1.7rem;
    padding: 1.5%;
    
}

form {
    padding: 25px;
    display: flex;
}

#section4 {
    align-self:flex-end;
}

#encabezado {
    padding-bottom: 2px;
}

#inputarea {
    padding-top: 2px;
}

footer {
    position:fixed;
    padding-left: 40%;
    bottom:0;
    left:0;
    width:100%;
    height: 18px;
    background-color: #D0DAEE;
  }


  #stock {
      display: flex;
      padding-top: 3px;
  }

  #inventario-actual {
      display : flex;
  }

  th {
      background-color: greenyellow;
  }

  th, td {
    padding: 15px;
    text-align: center;
    border: grey;

  }

  tr:nth-child(even){background-color: #d4cfcf}

  table {
      align-self: center;
      border-collapse: collapse;
      width: 100%;
  }

